@font-face {
  font-family: gogoia;
  src: url("/fonts/GOGOIA-Deco.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: "gogoia";
  font-size: 1rem;
}
body {
  height: 100vh;
  background-image: url(/imgs/laptopjpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.big-container {
  display: flex;
  height: 100%;
  align-items: center;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0px 10px 13px -2px #000000, 4px 3px 9px 4px rgba(65, 64, 64, 0);
  background-color: #1d1d1d;
  margin: 0 auto;
  justify-items: center;
}

.flex-nav {
  height: 100%;
  width: 15%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-image: url(/imgs/raas\ copy.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  animation: movimiento 30s infinite linear;
  box-shadow: 0px 10px 13px -3px #000000, 4px 3px 9px 4px rgba(132, 132, 132, 0);
}
@keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}

.logo {
  width: 100%;
  padding: 0.5rem;
  color: aqua;
  text-align: center;
  background-color: #000000;
}
.logo a {
  font-size: 4rem;
  font-weight: 500;
  color: aliceblue;
}

ul {
  width: 100%;
}
li {
  margin: 0 auto;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  list-style: none;
  filter: blur(0.1);
  margin-bottom: 0.5rem;
  border-top: 1px solid white;
}

a {
  font-family: gogoia;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 1rem 0.3rem 1rem 0rem;
}
.flex-nav li a:hover {
  color: aqua;
}

.icon-container {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
i {
  display: block;
  width: 100%;
  padding-bottom: 0.7rem;
  color: white;
  font-size: 2rem;
}
/*here starts Main*/

.container-main {
  height: 87%;
  width: 100%;
  display: flex;
}
.main-left {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  color: aqua;
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
}

.about-text {
  position: absolute;
  top: 5rem;
  font-size: 3.9rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-left: 2rem;
  color: aliceblue;
}
span {
  color: aqua;
  writing-mode: horizontal-tb;
  transform: rotate(180deg);
  border: 2px solid white;
  display: inline-block;
  padding: 0.5rem;
  font-size: 3.5rem;
  font-family: gogoia;
  line-height: 1;
  padding-top: 1rem;
  vertical-align: baseline;
}

.p-left {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 80;
  hyphens: auto;
  font-size: 2rem;
  position: absolute;
  width: calc(100% - 8rem);
  top: 5rem;
  left: 8rem;
}

.main-right {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center; /*controla veticalmente todo el contenido de main*/
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 8rem;
}
.foto-about-container{
    border: 2px solid white;
    width: 100%;
    height: 350px;
}

@media screen and (max-width: 1016px) {
  body {
    height: 100%;
    width: 100%;
  }
  h1,
  h2,
  span {
    font-size: 4rem;
  }
  .big-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .flex-nav {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  .flex-nav li {
    width: 100%;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    font-size: 3rem;
  }
  .flex-nav li a {
    width: 100%;
    font-size: 3rem;
  }

  .icon-container {
    display: flex;
    width: 100%;
  }

  .container-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  img {
    object-fit: cover;
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 626px) {
  .main-right {
    display: none;
  }
}
